.form-container {
    border: 1px solid lightgray;
    width: 40vw;
    margin: 70px auto 0;
    padding: 20px;
}

.login-form-title {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #E08E45;
    border: none;
}

.btn-primary:hover {
    background-color:  #0F1108;
    
}