/* 
COLORS:
primary (orange): #E08E45
secondary (yellow): #F9E784
third (pink-red): #D05353
text black: #0F1108
text gray: #423E37
background: #EDEBD7
online green: #138A36
offline red: #E3170A
*/

li {
  list-style-type: none;
}

.App {
  text-align: center;
 
}

.main-title-container {
  /*border: 1px solid lightgray;*/
  background-color: #E08E45;
  width: 30vw;
  margin: 25px auto 0;
  padding: 5px;
  box-shadow: 5px 10px 8px lightgray;
}

.main-title {
  font-family: 'Sigmar One', cursive;
  color: white;
}